@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #0D0D0D;
    color: #B7AB98;
    -webkit-user-select: none;
    user-select: none;
}
@layer utilities {
  .mask-svg {
    -webkit-mask-image: url('/mask.svg');
    mask-image: url('/mask.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
}
